@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  @apply text-base w-full min-h-[100svh] bg-zinc-100 dark:bg-zinc-900;
}

#root {
  @apply box-border relative w-full min-h-full font-popins;
}
html.dark {
  color-scheme: dark;
  scrollbar-color: hsla(0, 0%, 100%, 0.4) hsla(0, 0%, 100%, 0.029);
}
html.light {
  color-scheme: light;
}
